<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="card_design.css">
        <link rel='stylesheet' href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <link rel='stylesheet' href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css'>
</head>
<body>
        <button id="switch-mode">Light</button>
        <div class="card-container">
                <div class="card">
                        <div class="card-header">
                                <img src="../assets/images/angkor_wat.png" alt="img">
                                <div class="top-tag">
                                        <p>Ancient Wonder</p>
                                        <div><i class='bx  bxs-sun-dim'></i></div>
                                </div>
                        </div>
                        <div class="card-body">
                                <h1 class="card-title">Angkor Wat</h1>
                                <div>
                                        <h2 class="card-location">Siem Reap, Cambodia</h2>
                                        <h3 class="card-best-time">Best time to travel:&nbsp;<span>2025 November, 20</span></h3>
                                </div>
                                <p class="card-intro">A UNESCO World Heritage site and the largest religious monument in the world — Angkor Wat is famed for its scale, elaborate bas-reliefs, and sunrise vistas above the temple towers.</p>
                                <div class="card-detail">
                                        <h2>ABOUT</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam voluptate culpa vel, alias ipsa rem a sint velit aperiam nam.</p>
                                        <h2>HIGHLIGHTS</h2>
                                        <p>
                                                - Popular...<br>
                                                - Ancient...<br>
                                                - Best place to..<br>
                                        </p>
                                </div>
                                <div class="card-tag">
                                        <span>Ancient Wonder</span>  <span>Historical</span>   <span>Culture</span>  <span>Empire</span>  <span>Heritage Place</span>   <span>Popular</span>  <span>Temple</span>
                                </div>
                                <div class="card-button">
                                        <a href="" target="_blank"><button class="view-map">View On Map</button></a>
                                        <button class="detail">More Details</button>
                                </div>
                                <div class="card-info">
                                        <div class="card-review">
                                                <span>4.9</span>
                                                <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half'></i>
                                                <span>(12.3k)</span>
                                        </div>
                                        <div class="card-extra">
                                                <p>Exploration Time ≈ <span>2hr 20mn</span></p>
                                                <p>Expenses Cost ≈ <span>$100</span></p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</body>



<script src="card_design.js"></script>
</html>